proj_ros2/
proj_ros2test/
*.log
*.jou
*.CPINFO
*.cperr
*.xml
*.FCNT
*.FLIB
*.MCNT
*.MLIB
*.CSV
*.LMSPEC
*.LOG.gz
*.QOR
*.QOR.HTML
*.SR
*.SUMM
*.VSG
*.err
*.tips
*.LSInfo
*.scuba
*.vgerr
*.warn
*.IFF
ros2_cwb.v
